job_interview/freedictionary.com/XML Information/S28.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT ABB (#PCDATA | ITAL | HP | SUPER | SUB | MHP | SMCAP | INTER)*>
<!ELEMENT ACRO (#PCDATA)>
<!ELEMENT CF (#PCDATA | HP | INSUB | RSEQ | SP | ITAL | GENUS | SMCAP | MHP)*>
<!ELEMENT CHEM (#PCDATA | SUB | SUPER | ITAL)*>
<!ELEMENT CIT (#PCDATA)>
<!ELEMENT DENOM (#PCDATA | ITAL | SUB | SUPER)*>
<!ELEMENT EMPH (#PCDATA | FRACTION | REF)*>
<!ELEMENT ENTRY (LEM, USE?, SEN?, ETYM?, SEE?, SYXT?, ETYM?, SEEUN?, SEEAL?, PUSE?, CF?, ETYM?, SEE?, ETYM?, GSEE?)>
<!ELEMENT ETYM (#PCDATA | ETYMON | FOR | ITAL | EMPH | EPONYM | GENSPEC | SP | HP | GENUS | SUPER | SMCAP | ACRO)*>
<!ELEMENT ETYMON (#PCDATA | GENUS | GENSPEC | ITAL | ETYMON | FOR)*>
<!ELEMENT EXAMPLE (#PCDATA | SUB | GENUS | SUPER | ITAL | SMCAP | REF | GENSPEC | FOR | EMPH | SP | SUPERSUB | EXAMPLE | FRACTION | FORMULA)*>
<!ATTLIST EXAMPLE
	INTRO CDATA #REQUIRED
>
<!ELEMENT FAMILY (#PCDATA)>
<!ELEMENT FOR (#PCDATA)>
<!ELEMENT FORMULA EMPTY>
<!ATTLIST FORMULA
	WIDTH CDATA #REQUIRED
	HEIGHT CDATA #IMPLIED
	FILE CDATA #IMPLIED
	BREAK CDATA #IMPLIED
>
<!ELEMENT FRACTION (NUM, DENOM)>
<!ELEMENT GEN (IOR+)>
<!ELEMENT GENSPEC (#PCDATA | HP | STRS | SP | SUBSPEC | GENSPEC | VARIETY | REF)*>
<!ELEMENT GENUS (#PCDATA | HP | GENUS | STRS | SP)*>
<!ELEMENT GPLU (IOR)>
<!ELEMENT GSEE (#PCDATA | REF | SMCAP | GENUS)*>
<!ATTLIST GSEE
	TY CDATA #IMPLIED
>
<!ELEMENT GSEEAL (#PCDATA | REF | SUPER)*>
<!ATTLIST GSEEAL
	TY CDATA #IMPLIED
>
<!ELEMENT HP EMPTY>
<!ELEMENT INSUB (#PCDATA | HP | SP | GENSPEC | MHP | RSEQ | SUPER | GENUS | SUB | ITAL | SMCAP)*>
<!ELEMENT INTER (#PCDATA)>
<!ELEMENT IOR (#PCDATA | HP | SP | STRS | ABB | MHP)*>
<!ELEMENT ITAL (#PCDATA | SUB | SUPER | HP | SP | STRS | REF)*>
<!ELEMENT LEM (LOR, VORL?, PLUR?, GPLU?, GEN?, SING?, PLUR?, GPLU?, PRON?, CIT?)>
<!ATTLIST LEM
	CLS CDATA #IMPLIED
>
<!ELEMENT LOR (#PCDATA | SUB | SUPER | ITAL | HP | SP | STRS | ABB | GENUS | GENSPEC | MHP | SMCAP)*>
<!ELEMENT MHP EMPTY>
<!ELEMENT NUM (#PCDATA | SUPER | ITAL | SUB)*>
<!ELEMENT OFFALT (#PCDATA | HP | SP | INSUB | RSEQ)*>
<!ELEMENT OVER EMPTY>
<!ATTLIST OVER
	WHAT CDATA #REQUIRED
	OVER CDATA #REQUIRED
>
<!ELEMENT OVLINE (#PCDATA)>
<!ELEMENT PARA EMPTY>
<!ELEMENT PLUR (IOR+)>
<!ELEMENT PRON (#PCDATA | ITAL | EMPH | SUB)*>
<!ELEMENT PUSE (#PCDATA | ITAL | SMCAP | EXAMPLE | SUPER | SUB | REF | GENSPEC | GENUS | PARA)*>
<!ELEMENT REF (#PCDATA | HP | SUB | MHP | GENSPEC | SP | INSUB | SMCAP | GENUS | ITAL | VAR | RSEQ | SUPER)*>
<!ELEMENT RSEQ (#PCDATA)>
<!ELEMENT SAPEC (SEQ, ABB?, CIT?, PRON?, USE?)>
<!ELEMENT SEE (#PCDATA | SP | HP | RSEQ | INSUB | GENUS | GENSPEC | MHP | ITAL | SMCAP | SUPER | SUB)*>
<!ELEMENT SEEAL (#PCDATA | HP | SP | INSUB | GENUS | SUPER | SMCAP | RSEQ | MHP | GENSPEC | SUB | ITAL)*>
<!ELEMENT SEEUN (#PCDATA | HP)*>
<!ELEMENT SEN (SAPEC | STXT | SEE | SYNX | SEEAL | CF | GSEE | SYXT | SYST | CHEM | ETYM | CIT | PRON | GSEEAL)*>
<!ELEMENT SEQ (#PCDATA)>
<!ELEMENT SING (IOR)>
<!ELEMENT SMCAP (#PCDATA | ITAL)*>
<!ELEMENT SP EMPTY>
<!ELEMENT SPECIES (#PCDATA)>
<!ELEMENT STRS EMPTY>
<!ELEMENT STXT (#PCDATA | REF | ITAL | FOR | EXAMPLE | SUPER | GENSPEC | EMPH | GENUS | SMCAP | SUB | FAMILY | SPECIES | ACRO | SUBSPEC | FORMULA | ETYMON | SP | FRACTION | OVLINE | PARA | HP | STRS | VGENUS | OVER)*>
<!ELEMENT SUB (#PCDATA | ITAL | SUB | HP | SMCAP | SUPER)*>
<!ELEMENT SUBSPEC (#PCDATA | HP | STRS | SP)*>
<!ELEMENT SUPER (#PCDATA | ITAL)*>
<!ELEMENT SUPERSUB EMPTY>
<!ATTLIST SUPERSUB
	SUPER CDATA #REQUIRED
	SUB CDATA #REQUIRED
>
<!ELEMENT SYNX (#PCDATA | HP | INSUB | SP | RSEQ | GENSPEC | ITAL | SUPER | SMCAP | MHP | GENUS | SUB)*>
<!ATTLIST SYNX
	OFFALT CDATA #IMPLIED
>
<!ELEMENT SYST (#PCDATA | SUPER | ITAL | SMCAP | SUB | GENSPEC | HP)*>
<!ELEMENT SYXT (#PCDATA | HP | CIT | RSEQ | INSUB | SP | MHP | ITAL | GENSPEC | GENUS | OFFALT | SMCAP | SUB | SUPER | VAR)*>
<!ELEMENT USE (#PCDATA | ITAL | SUPER | SUB | ETYMON)*>
<!ELEMENT VAR (#PCDATA | HP | INSUB | SP)*>
<!ATTLIST VAR
	PREF CDATA #REQUIRED
>
<!ELEMENT VARIETY (#PCDATA | HP | STRS)*>
<!ELEMENT VGENUS (#PCDATA)>
<!ELEMENT VOR (#PCDATA | HP | SP | ITAL | MHP | STRS | SUPER | SUB | GENSPEC | ABB | SMCAP | GENUS)*>
<!ATTLIST VOR
	LEM CDATA #IMPLIED
>
<!ELEMENT VORL (VOR+)>
<!ELEMENT ENTRYLIST (ENTRY+)>
<!ELEMENT EPONYM (#PCDATA)>

